
body {
    font-family: sans-serif;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}
.intro-text ~ .intro-text {
    margin-bottom: 40px;
    margin-top: 0;
}
.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-row ~ .input-row {
    margin-bottom: 55px;
}

.input-item ~ .input-item {
    margin-left: 10px;
}

textarea {
    width: 20vw;
    max-width: 350px;
}
.note {
    width: 100%;
}
.toggle-container {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
#toggle {
    margin-right: 20px;
}
